/* nav profile ro baad joda konam */
.nav, .nav-signin{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px rgba(41, 41, 41, .2);
}

.nav-container{
    height: 75px;
    margin: 0 64px;
    padding: 17px 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.nav-icon .icon-title a{
    color: black;  
    text-decoration: none;
}
.nav-icon .icon-title a img{
    max-width: 100%;
    max-height: 50px;
}

 /* This code just apply style on the items with class
 nav-menu-items. The div with nav-menu-items-last 
 shouldn't have mergin left to avoid conflict with 
 the left div */

  

  

/*nav test */
.nav-space{
    flex-grow: 1;
  }
  .nav-links{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: space-between;
  }

  
  .nav-profile{
    width:35px;
    height: 35px;
    border-radius: 50%;
    align-self: center;
}

.navbar-profile-container{
    margin-left: 10px;
    position: relative;
}
.navbar-profile-container >a {
    cursor: pointer;
}

 .navbar-profile-links {
    
    background-color: rgb(245, 245, 245);  
    border-radius: 5px;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
    width: 250px;
}
.navbar-profile-links a{
    height: 41px;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: large;
    line-height: 41px;
    transition: background-color .5s ease-in-out;
}
.navbar-profile-links a:hover{
    background-color:  rgb(216, 216, 216);

}

.navbar-profile-links a:active{
   background-color: #2196F3;
}

.navbar-profile-show{
    height:100px;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.navbar-profile-info {
    padding-left:10px ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.navbar-profile-info p{
    line-height: 1.5rem;
}

  .nav-links > a {
    padding: 12px 0;
    margin-left: 3px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
  }
  .nav-links > a.active {
    background-color: #2196F3;
    color: white;
  }

  .nav-links > a:hover {
    background-color: #ddd;
    color: black;
}
.nav-links > a:active {
    background-color: #2196F3;
    color: white;
}
.topnav-sandwich{
    margin-left:3px;
    padding: 8px;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}
.topnav-sandwich:hover{
    background-color: #F5F5F5;
}

.topnav-sandwich:active{
    background-color: #2196F3;
}

.topnav-sandwich:link{
    background-color: #F5F5F5;
}
.topnav-sandwich .fa.fa-bars{
    font-size: 24px;
    color:rgba(104, 74, 148, 1);
}

  .search-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
  }

  .nav-container input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    transition: border-color 0.15s ease-in-out;
}

  .nav-links .search-container button {
    padding: 6px 10px;
    background: rgba(104, 74, 136, 0.239);
    font-size: 17px;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:1201px) {
    .topnav-sandwich{
        display: none;
     }
    }

@media screen and  (max-width:1201px){
    /* .nav-icon{
         width:30%;
     }*/
     .nav-links > a{
         display:none;
     }
     .topnav-sandwich{
         display: block;
         position: relative;
     }

  
     .topnav-sandwich-links {
         background-color: rgb(245, 245, 245);  
         border-top-left-radius: 5px;
         border-bottom-right-radius: 5px;
         border-bottom-left-radius: 5px;
         position: absolute;
         top: 40px;
         right: 0;
         z-index: 1;
         width: 250px;
     }
     .topnav-sandwich-links a{
         height: 41px;
         line-height: 41px;
         transition: background-color .5s ease-in-out;
     }
     .topnav-sandwich-links a:hover{
         background-color:  rgb(216, 216, 216);

    }

     .topnav-sandwich-links a:active{
        background-color: #2196F3;
    }

    .topnav-sandwich a{
         display: block;
         text-align: center;
         width: 100%;
         margin: 0;
         font-size: large;
     }
    .nav-links input[type=text] {
       border: 1px solid  rgba(248, 165, 194,.5);  
       border-radius: 5px;
     }
 
 }


 
@media screen and (min-width:538px) and (max-width: 900px) {
    .nav-container{
        margin: 0 10px 0  10px;
    }
   
  }

  @media screen and  (min-width:538px) and (max-width:650px){
  
  .nav-container input[type=text]{
        font-size: smaller;
    }
  }

  @media screen and (max-width:538px){
    .nav-container{
        margin: 0 10px 0  10px;
    }
    .nav-icon .icon-title a img {
        max-width: 100%;
        max-height: 40px;
    }
  }

 @media acreen and (max-width:572px){
    .nav-icon{
        max-width: fit-content;
    }
 }

 @media screen and (max-width:538px){
    .nav-container{
        margin: 0 10px 0  10px;
    }
    .nav-links> .search-container{
        display: none;
    }
    
    .topnav-sandwich .fa.fa-bars{
        font-size: larger;
    } 
  }
  
  @media screen and (max-width:500px) {
    .nav-container{
        margin: 0 10px;
    }    
  }
  /* ****************************************Masoume */
  .storeis-title{
    padding-right: 7em;
    padding-left: 7em;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 64px;
    display: block;
  }

  .stories-menu{
      background-color: #fff;
      color: #000;
      border-bottom: 1px solid rgba(230, 230, 230, 1);
  }

.storeis-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 40px;
    align-content: center;
}
.storeis-text h1{
    font-weight: 600;
    margin-bottom: .5em;
}

.storeis-tow-menu{
    display: flex;
}

.storeis-menu-right{
    padding: 7px 16px 9px;
    border: 1px solid;
    border-color: rgb(26, 137, 23);
    text-decoration: none;
    box-sizing: border-box;
    background: 0;
    color: rgba(26, 137, 23, 1);
    line-height: 20px;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 400;
    margin-right: 2vw;

}

.storeis-menu-right-tow{
    padding: 7px 16px 9px;
    border: 1px solid;
    border-color: rgb(26, 137, 23);
    text-decoration: none;
    box-sizing: border-box;
    background: 0;
    color: rgba(26, 137, 23, 1);
    line-height: 20px;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 400;
}

.storeis-menu-right a p{
    font-size: 11px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 7px;
}

.storeis-menu-right-tow a p{
    font-size: 11px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 7px;
}

.stories-article{
    padding-left: 1.5em;
    padding-top: 2em;
}
.stories-article-2{
    padding-top: 4em;
}

.stories-part{
    display: flex;
}

/* ******************button */
.centerMe {
    position: absolute;
    padding-left: 15em;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: 0;
    overflow: hidden;
  }
  button .icon {
    position: relative;
    background: #1D242B;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    -webkit-transition: .2s color;
    transition: .2s color;
    border-radius: 2px;
  }
  button .icon .fa {
    width: 30px;
    -webkit-transition: .2s all;
    transition: .2s all;
  }
  button .icon .fa-check {
    color: #38B87C;
  }
  button .icon .fa-question {
    color: #2492FF;
  }
  button .icon:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #1D242B;
    top: 12.5px;
    right: 1px;
    -webkit-transition: .2s right;
    transition: .2s right;
    z-index: 1;
  }
  button .text {
    position: relative;
    width: 0;
    height: 30px;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    background: #F34541;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    -webkit-transition: .2s all;
    transition: .2s all;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  button .text span {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: .3s all;
    transition: .3s all;
    padding-top: .5em;
  }
  button:hover .icon {
    color: #F34541;
    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  button:hover .icon:after {
    right: -2px;
  }
  button:hover .text {
    width: 120px;
  }
  button:hover .text span {
    opacity: 1;
    top: 0;
  }
  button.confirm .icon {
    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  button.confirm .icon .fa {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  button.confirm .icon:after {
    right: -2px;
  }
  button.confirm .text {
    background: #2492FF;
    width: 120px;
  }
  button.confirm .text span {
    opacity: 1;
    top: 0;
  }
  button.done .icon {
    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  button.done .icon .fa {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  button.done .icon:after {
    right: -2px;
  }
  button.done .text {
    background: #38B87C;
    width: 120px;
  }
  button.done .text span {
    opacity: 1;
    top: 0;
  }
  
  @-webkit-keyframes fadeInZoom {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes fadeInZoom {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
/* ******************button */


@media screen and (min-width:375px) {
    .storeis-title{
        padding-left: 3em;
    }    
  }

@media screen and (min-width:1024px) {
    .storeis-title{
        padding-left: 7em;
    }    
  }




  

  