.nav{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px rgba(41, 41, 41, .2);
}

.nav-container{
    height: 75px;
    margin: 0 64px;
    padding: 25px 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.nav-icon{
    width: 50%;
}

.topnav{
    direction: ltr;
    width: 50%;

}
.nav-icon .icon-title a{
    color: black;  
    /*font-size:25px;  
    font-weight: bold;*/
    text-decoration: none;
}
.nav-icon .icon-title a img{
    max-width: 100%;
    max-height: 50px;
}

 /* This code just apply style on the items with class
 nav-menu-items. The div with nav-menu-items-last 
 shouldn't have mergin left to avoid conflict with 
 the left div */
.nav-menu-items{
    margin-left: 1vw;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  transition: border-color 0.15s ease-in-out;
}  
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
  
@media screen and (min-width:1201px) {
.topnav-sandwich{
    display: none;
 }
}

@media screen and  (max-width:1201px){
   /* .nav-icon{
        width:30%;
    }*/
    .topnav a{
        display:none;
    }
    .topnav-sandwich{
        display: block;
        position: relative;
    }
    .topnav-sandwich-links{
        background-color: whitesmoke;
        position: absolute;
        top: 34px;
        right: 0;
        z-index: 1;
    }
    .topnav-sandwich a{
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 14px;
        font-size: large;
    }

    
    .topnav-sandwich{
        float: right;
    }
   
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }

}
@media screen and (min-width:538px) and (max-width: 737px) {
    .nav-container{
        margin: 0 10px 0  10px;
    }
    .nav-icon {
        max-width: 40%;
    }
    .topnav {
        width: 60%;
    }
    
  }
  @media screen and (max-width:538px){
    .nav-container{
        margin: 0 10px 0  10px;
    }
    .topnav> .search-container{
        display: none;
    }
    
    .topnav-sandwich .fa.fa-bars{
        font-size: larger;
    }
    .nav-icon .icon-title a img {
        max-width: 100%;
        max-height: 50px;
    }
  }

  @media screen and (max-width:500px) {
    .nav-container{
        margin: 0 10px;
    }

    .nav-icon {
        width: 50%;
    }
    .topnav {
        
        width: 50%;
    }
    
  }

  
