.all-part-profile{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.profile-left{
    grid-column: 2/span 2;
    position: relative;
}

.profile-right{
    grid-column: 2/span 2;
    position: relative;
}
.profile{
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 1em;
    grid-column: 4/span 6;
}

.profile-about{
    height: 40px;
    border-bottom: 1px solid #ccc;
}

.profile-about label{
    font-weight: bold;
    font-size: 2em;
}

.profile-about h1{
    margin-bottom: 1em;
}

.profile-image img{
    width: 100px;
    border-radius: 50px;
    height: 100px;
}

.profile-image{
    margin: 2em 0 2em;
}

.profile-image a{
    margin-bottom: 1em;
}

.profile-name label{
    font-weight: bold;
}

.profile-name input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
}

.profile-username{
    font-weight: bold;
}

.profile-username input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
}

.profile-bio{
    font-weight: bold;
}

.profile-bio input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
}

.profile-gmail{
    font-weight: bold;
}

.profile-gmail input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
}

.security label{
    font-weight: bold;
    font-size: 2em;
}

.security{
    height: 40px;
    border-bottom: 1px solid #ccc;
    margin-top: 5em;

}

.security-password{
    margin: 2em 0 0;
    font-weight: bold;
}

.security-password input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
}

.security-new-password label{
    font-weight: bold;
}
.security-new-password input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
}

.security-coin-frame-new label{
    font-weight: bold;
}

.security-coin-frame-new input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
}

.save{
    text-align: right;
    height: 34px;
    position: relative;
    bottom: -17px;
    margin-right: 10%;
}
@media screen and (min-width:320px) and (max-width:768px){
    .profile{
        padding-left: 3em;
        padding-right: 3em;
    }
}

.btn1[type=text] {
    width: 100px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
  }
.btn[type=text]:focus {
    width: 250px;
  }
   
  img{
    max-width:180px;
  }
  input[type=file]{
  padding:10px;
  }


