.nav, .nav-signin{
    z-index: 4;
    position: absolute;
}
.all-part-profile{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 253px 1fr;
    gap: 1vw;
    position: relative;
}

.profile-top{
    width: 100%;
    height: 177px;
    background-color: white;
    grid-row: 1;
    position: fixed;
    top: 75px;
    z-index: 2;
    border-bottom: solid 1px #5a5a5a28;
    transition: top .3s linear;
}
.profile{
    grid-column:5/span 4;
    grid-row: 2;
    position: relative;
    margin: 2em 0 2em;
}

.profile-about{
    height: 40px;
    border-bottom: 1px solid #ccc;
}

.profile-about label{
    font-weight: bold;
    font-size: 2em;
}

.profile-about h1{
    margin-bottom: 1em;
}
.profile-image{
    margin: 2vh 0 2vh;
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.profile-img-form{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    justify-content: center;
}
.profile-image img{
    width: 100px;
    border-radius: 50px;
    height: 100px;
    margin: .5em 0;
}


#imgInp{
    font-size:1rem;
    display: inline-block;
    height: fit-content;
    align-self: flex-end;
}
.profile-image a{
    margin-bottom: 1em;
}

.profile-name{
    margin-top: 1em;
}

.profile-name label{
    font-weight: bold;
}

.profile-name input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
    width: 100%;
}
.profile-username{
    font-weight: bold;
}

.profile-username input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
    width: 100%;
}

.profile-bio{
    font-weight: bold;
}

.profile-bio input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
    width: 100%;
}

.profile-gmail{
    font-weight: bold;
}

.profile-gmail input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
    width: 100%;
}

.security label{
    font-weight: bold;
    font-size: 2em;
}

.security{
    height: 40px;
    border-bottom: 1px solid #ccc;
    margin-top: 5em;

}

.security-password{
    margin: 2em 0 0;
    font-weight: bold;
}

.security-password input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
    width: 100%;
}

.security-new-password label{
    font-weight: bold;
}
.security-new-password input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
    width: 100%;
}

.security-confirm-new-password label{
    font-weight: bold;
}

.security-confirm-new-password input{
    border: 1px solid #ccc;
    margin-top: 1em;
    border-radius: 10px;
    width: 100%;
}

.save{
    text-align: right;
    height: 34px;
    position: relative;
    margin-bottom: 2em;
    margin-right: 10%;
}

.save button{
    width: 7em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 50px;
}

.btn1[type=text] {
    width: 100px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
  }
  @media screen and (min-width:700px) and (max-width:1250px){
    .profile{
        grid-column:4/span 5;
        grid-row: 2;
    }
    
  }
  @media screen and (max-width:700px){
    .profile{
        grid-column:3/span 8;
        grid-row: 2;
    }
    
  }
  @media screen and (max-width:768px){

    .profile-image {
        margin: 2em 0 0;
    }
    .profile-image img {
        width: 80px;
        border-radius: 50px;
        height: 80px;
        margin-top: .5em;
    }
   
}
/* ***************** responsive input */


   


