h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
.main{
    min-height: 200vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}
.post-view-container{
    grid-column: 4/span 6;
}

@media screen and (min-width:700px) and (max-width:992px) {
    .post-view-container{
        grid-column: 4/span 7;
    }
}
@media screen and (min-width:500px) and (max-width:700px) {
    .post-view-container{
        grid-column: 4/span 8;
    }
}
@media screen and  (max-width:500px) {
    .post-view-container{
        grid-column: 2/span 10;
    }
}
/* style of sidebar*/
.post-page-sidebar{   
    grid-column: 2/span 1;
    position: relative;
}

.sidebar-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    position: sticky;
    top: 200px;
}

.sidebar-cells{
    margin-bottom: 1rem;
    font-size: 1.2rem;

}
.sidebar-cells b{
    line-height: 1rem;
    font-size: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, .7);
}
.sidebar-cells,  .sidebar-cells .fa, .sidebar-cells .btn{
    font-size: 1.2rem;
    text-align: center;
}
.sidebar-cells .btn.btn-follow{
    margin-bottom: 0;
}
.sidebar-cells .fa{
    color: rgba(0, 0, 0, .7);
}

.sidebar-cells a.fa:hover{
    color: rgba(0, 0, 0, .4);
}
.sidebar-cells a.fa{
    margin-right: 5px;
    transition: color .2s ease-in-out, transform .5s ease-in-out;
    -o-transition: color .2s ease-in-out, transform .5s ease-in-out;
    -moz-transition: color .2s ease-in-out, transform .5s ease-in-out;
    -webkit-transition: color .2s ease-in-out, transform .5s ease-in-out;
}
.sidebar-cells a.fa.fa-heart-o:visited{
    color: rgba(0, 0, 0, 1);
}
.sidebar-cells a.fa:link{
    color: rgba(0, 0, 0, .7);
}

.sidebar-cells a.fa:hover{
    color: rgba(0, 0, 0, .4);
}

.sidebar-cells a.fa.fa-heart-o:active{
    color: rgba(255, 30, 30, 0.7);
        transform: scale(1.5);
}

.sidebar-cells a.fa.fa-comment-o:active{
    color:rgba(0, 128, 0, .7);
    transform: scale(1.5);
}

.sidebar-cells a.fa.fa-save:active{
    transform: scale(1.5);
    color: rgba(0, 0, 0, 1);
}
@media screen and (max-width:750px){
    .sidebar-cells,  .sidebar-cells .fa, .sidebar-cells .btn{
        font-size: 1rem;
        text-align: center;
    }
}
@media screen and  (max-width:500px) {
    .post-page-sidebar{
        display: none;
    }
}

/* end style of the sidebar*/
 .margin-top-div{
     margin-top: 3rem;
 }



.new-post-title{
    width: 100%;
    font-size: 42px;
    line-height:1.58;
    font-weight: 400;
    overflow: visible;
    margin-bottom: 21px;
}
.new-post-title h1{
    font-size: inherit;
    line-height:inherit
}

.post-meta-share{
    width: 100%;
    margin-bottom: 21px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}
.post-meta{
    display: flex;
    flex-direction: row ;
}

.writer-picture{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
}
.post-meta-info{
    display: flex;
    flex-flow: column wrap;
    margin-left: 10px;
    justify-content: space-between;
    align-content: center;
}
.post-writer-name{
    display: flex;
    flex-direction:row ;
    -ms-flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.post-writer-name div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.right-margin{
    margin-right: 10px;
}
.post-writer-name div .btn{
    margin-bottom: 0;
}
.post-writer-name a{
    text-align: center;
}

.post-meta-details{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.seperator {
    padding: 0 6px;
}

.post-share{
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
}
.share-btn a{
    padding: 0 6px;
}
.share-btn a.fa{
    color: rgba(0, 0, 0, .5);
    font-size: 1.5rem;
    text-align: center;
}
.share-btn a.fa-save{
    transition: color .2s ease-in-out, transform .5s ease-in-out;
    -o-transition: color .2s ease-in-out, transform .5s ease-in-out;
    -moz-transition: color .2s ease-in-out, transform .5s ease-in-out;
    -webkit-transition: color .2s ease-in-out, transform .5s ease-in-out;
}

.share-btn a.fa:hover{
    color: rgba(0, 0, 0, .4);

}

.share-btn a.fa-save:active{
    transform: scale(1.5);
}
@media screen and (max-width:450px){
    .writer-picture{
        width: 60px;
        height: 60px;
    }
}
@media screen and (min-width:501px) and (max-width:620px){
    .share-btn a.fa {
        font-size: 1rem;
    }
}
@media screen and (max-width:586px){
    .new-post-title h1{
        font-size: 1.8rem;
    }
    .post-meta-share{
        flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        justify-content: center;
    align-content: flex-start;
    }
    .post-share{
        justify-content: unset;
    }
    .post-meta {
        margin-top: 20px;
    }
}
/* end of style of post meta elements*/
.post-thumbnail{
    margin-bottom: 21px;
}

.post-thumbnail img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* styles of post passage*/
.new-post-passage {
    font-size: 21px;
    line-height:1.58;
    font-weight: 400;
    overflow: visible;
    margin-bottom: 21px;
}
.new-post-h3 {
    font-size: 36px;
    line-height:1.58;
    font-weight: 400;
    overflow: visible;
    margin-bottom: 21px;
}

.new-post-passage b, .new-post-passage div, .new-post-passage i, .new-post-passage p,  .new-post-passage strong{
    display: inline-block;
    font-size: 21px;
    line-height:1.58;
    overflow: visible;
}
.new-post-passage p{
    margin-bottom: 2rem;
    text-align: justify;
}
.new-post-passage h2{
    font-size: 42px;
    line-height: 1.58;
    font-weight: 400;
    overflow: visible;
    margin-bottom: 2rem;
}
.new-post-passage img,  .new-post-passage video{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}
button.w3-button{
    font-weight: bold;
    color: lemonchiffon;
}
.post-end-social{
    display: flex;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding:0 0 3% 0;
    margin:0 0 3% 0;
    border-bottom: solid 1px rgba(248, 165, 194,.8);
}
.post-like-comment{
    display: flex;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    justify-content: center;
}
.post-share-buttons{
    display: flex;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    justify-content: center;

}
.share-button{
    margin-bottom: 1rem;
}
.share-button a{
    padding: 0 6px;
}
.share-button a.fa,  .post-like-comment a.fa{
    color: rgba(104, 74, 148, .8);
    font-size: 1.5rem;
    text-align: center;
}
.reaction-cell{
    margin:  0 6px;
   
}
.reaction-cell .fa{
    color: rgba(0, 0, 0, .7);
    font-size: 1.2rem;
    text-align: center;
}


.reaction-cell a.fa{
    margin-right: 5px;
    transition: color .2s ease-in-out, transform .5s ease-in-out;
    -o-transition: color .2s ease-in-out, transform .5s ease-in-out;
    -moz-transition: color .2s ease-in-out, transform .5s ease-in-out;
    -webkit-transition: color .2s ease-in-out, transform .5s ease-in-out;
}

.reaction-cell a.fa:link{
    color: rgba(104, 74, 148, .3);
}

.reaction-cell a.fa:hover{
    color: rgba(0, 0, 0, .4);
}
.reaction-cell a.fa:focus, .reaction-cell a.fa:visited{
    color: rgba(0, 0, 0, 1);
}
.reaction-cell a.fa.fa-heart-o:active{
    color: rgba(255, 30, 30, 0.7);
    transform: scale(1.5);
}

.reaction-cell a.fa.fa-comment-o:active{
    color:rgba(0, 128, 0, .7);
    transform: scale(1.5);
}
 /* start of style of post writer*/

 .post-end-writer{
    padding: 0 0 3% 0;
    margin: 0 0 3% 0;
    border-bottom: solid 1px rgba(248, 165, 194,.8);
 }
 .post-writer-info{
    display: flex;
    flex-flow: column wrap;
    margin-left: 10px;
    justify-content: space-around;
    align-content: center;
 
 }
 .post-writer-follow{
     margin-left: 10px;
     display: flex;
     flex-flow: column wrap;
     -ms-flex-flow: column wrap;
     justify-content: flex-end;
 }
 .post-writer-follow .btn{
     margin: 0;
 }
 .post-writer-bio{
     line-height: 1rem;
     line-height: 1.58;
    overflow: visible;
 }

 /*style of more-articles-section */
 .more-articles-text{
     margin-top: 6vh;
     display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 2.5rem);
 }
 .more-articles-text-title{
    grid-column: 2/span 10;
    grid-row: 1/ span 1;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-align: left;
 }
 @media screen and (max-width:500px){
    .more-articles-text{
       grid-template-rows: repeat(1, 1.5rem);
    }
    .more-articles-text-title{
    font-size: 1rem;
    line-height: 1rem;
    }
 }

 .more-articles-section{
    width: 100%;
     display: grid;
     grid-template-columns: repeat(12, 1fr);
 }
 .more-articles{
     grid-column: 2/span 10;
     grid-row: 1/ span 1;
     padding: 10px 0 30px 0;
     display: flex;
     flex-direction: row;
     -ms-flex-direction: row;
     justify-content: space-between;
     align-content: center;
 }
 .article-example{
    width: 25vw;
height: 20vw;
 }

 .sample-article{
     position: relative;
     /*max-width: 350px;*/
     height: 100%;
     margin: 0 auto;
 }
 .sample-article-info{
     display: none;
     opacity: 0;
 }

 .sample-article img{
     width: 100%;
    height: 100%;
 }
 .sample-article-meta{
     width: 100%;
     position: absolute;
     bottom: 0;
     box-shadow: inset 0 -60px 60px 12px rgba(0, 0, 0, 0.6);
     color: white;
     transition: box-shadow 2s ease-in-out;
 }
 .sample-article-title{
    height: 65px;
    padding: 0 10px;
}


 .sample-article-title h2{
     line-height: 2rem;
     display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
 }

 .sample-article:hover .sample-article-meta{
    bottom: 0;
}


.sample-article:hover .sample-article-info{
   display: flex;
   opacity: 1;
   flex-direction: row;
   -ms-flex-direction: row;
   justify-content: space-between;
   align-content: center;
   padding: 5px 0;
}
.sample-article-writer{
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    margin: 0 5px;
}
.sample-article-writer-profile{
    margin: 0 5px;
}
 .sample-article-writer-profile img{
     width: 40px;
     height: 40px;
     border-radius: 50%;
 }
 .sample-article-writer-date{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-content: center;
 }
 .writer-name a{
     line-height: 1rem;
     text-align: left;
     font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
 }
 .sample-article-date{
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    color: rgb(202, 202, 202)
 }
 .sample-article-date span{
     font-size: 12px;
    
 }
 .sample-article-save{
    margin: 0 5px;
    display: flex;
 }
 

 .sample-article-save a{
     align-self: flex-end;
 }
 .sample-article-save a.fa{
    color: rgba(255, 255, 255, .8);
    transition: color .2s ease-in-out, transform .5s ease-in-out;
    -o-transition: color .2s ease-in-out, transform .5s ease-in-out;
    -moz-transition: color .2s ease-in-out, transform .5s ease-in-out;
    -webkit-transition: color .2s ease-in-out, transform .5s ease-in-out;
}
.sample-article-save a.fa:visited{
    color: rgba(255, 255, 255, 1);
}

.sample-article-save a.fa:hover{
    color: rgba(255, 255, 255, 1);

}

.sample-article-save a.fa:active{
    transform: scale(1.5);
}
@media screen and (min-width:700px) and (max-width:800px){
    .sample-article-date span {
        font-size: 10px;
    }
    .sample-article-writer-profile img{
        width: 30px;
        height: 30px;
    }
}
@media screen and (min-width:700px) and (max-width:933px){
    .sample-article-title h2{
        font-size: 1rem;
        }
}
@media screen and (max-width:700px){
    .more-articles-section{
        display: flex;
    }
    .more-articles{
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .article-example{
        width: 80vw;
        height: 60vw;
        margin: 0 10vw 2vh 10vw;
    }
}
/* styles of the section with background including footer and comments section */
.comment-footer-background-section{
    display: grid;
    background-color: rgba(104, 74, 148, .2);
    grid-template-columns: repeat(12, 1fr);
    box-shadow: 0 -12px 17px 10px rgb(104 74 148 / 20%);
}
/*style of comment section*/
.comments-container{
    grid-column: 4/span 6;
}
.display-comment-numbers, .display-comment-numbers span{
    font-size: 1.5rem;
    font-weight: bold;
}
.signin-to-comment{
    padding: 20px 10px;
    margin:20px 0;
    background-color: #74b9ff;
    border-radius: 5px;
}

.signin-to-comment-options{
    width: 100%; 
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    color: white;
}
.alarm-icon{
    margin-right: 3%;
}
.alarm-icon .fa{
    font-size: 2rem;
}
.signin-warning{
    min-height: 2rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.signin-warning a{
    font-size: 1.2rem;
    color: #0652DD;
    transition: all .5s ease-in-out;
}
.signin-warning a:hover{
    color:  #2c76ff;
}
.new-comment-container{
    margin: 20px 0;
    width: 100%;
    padding: 5px;
    border: solid 1px  rgba(248, 165, 194,.4);
    border-radius: 10px;
}

.new-comment-reply-container{
    margin: 20px 0;
    width: 100%;
    padding: 5px;
    border: solid 1px  rgba(248, 165, 194,.4);
    border-radius: 10px;
}

.new-comment-textbox  {
    margin: 20px 0;
    width: 100%;
}
.new-comment-textbox textarea{
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 10px;
    background-color:whitesmoke ;
}
.new-comment-options{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
 .info-submit{
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    align-content: center;
 }
.commentor-info{
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
}

.commentor-profile{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.commentor-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.commentor-name{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
}
.commentor-name a {
    line-height: 1.5rem;
    font-weight: bold;
}

.post-comment-btn{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
}
.post-comment-btn button.btn{
    margin-bottom: 0;
}
.comment-container{
    display: block;
    margin: 10px 0;
    position: relative;
}
.original-comment-container{
    position: relative;
    border-left: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    margin: 60px 0;
}
.push-left{
    position: absolute;
    left: -25px;
    top: -25px;
}
.add-border-avatar{
    border:3px solid #aaaaaa;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.commentor-comment{
    position: relative;
    padding: 0 18px 18px 18px;
    top: 30px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: justify;
}
.reply-comment-section{
    text-align: right;
    height: 34px;
    position: relative;
    bottom: -17px;
    margin-right: 10%;
}
.reply-comment-section .btn{
    margin-bottom: 0;
    background-color: #fff;
    border: 1px solid #aaaaaa;
    border-radius: 15px;
    
    cursor: pointer;
    font-size: 14px;
    color: #999999;
    white-space: nowrap;
}

.comment-reply-container{
    margin-left: 10%;
    margin-top:40px;
    position: relative;
    border-left: 1px solid #aaaaaa;
    min-width: 180px;
}
@media screen and (max-width:840px){
    .comments-container {
        grid-column: 2/span 10;
    }
}

@media screen and (max-width:440px){
    .info-submit{
        flex-direction: column;
        -ms-flex-direction: column;
        align-content: center;
    }
    .post-comment-btn{
        margin-top: 1rem;
    }
    .post-comment-btn .btn{
        max-width: 130px;
    }
}
/* styles of footer section */
.footer-container{
    grid-column: 1/span 12;
    height: 260px;
    background-color:rgba(104, 74, 148, 1);
}
.footer-rows{
    height: 100%;
    width: 100%;
    padding: 2vh 6vw;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
.footer-first-row{
    display: flex;
    min-height: calc(60% - 30px);
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
}
.footer-column{
    flex-basis: 45%;
}
.right-margin{
    margin-right: 2%;
}
.footer-column h3, .footer-column p{
    text-align: left;
}
.footer-column h3{
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.footer-column p{
    font-size: 1.2rem;
    line-height: 1.5rem;
}

 .footer-end-row{
     max-height: calc(40% - 30px);
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.logo-container{
    flex-basis: 40%;
}
.logo-container a{
    text-align: left;
}
.footer-logo-img{
    display: block;
    max-width: 100%;
    height: auto;  
}
.footer-options{
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    align-content: flex-end;
    justify-content: center;
}
.footer-options a{
    display: inherit;
    font-size: 1rem;
    height: 1rem;
    margin-right: 8px;
    align-content: flex-end;
}
@media screen and (max-width:450px){
    .footer-column h3{
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }
}

/*loader class*/
.loader-icon {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }