.new-post-title{
    font-size: 42px;
    line-height:1.58;
    font-weight: 400;
    overflow: visible;
    margin-bottom: 21px;
}
.new-post-passage {
    font-size: 21px;
    line-height:1.58;
    font-weight: 400;
    overflow: visible;
    margin-bottom: 21px;
}
.new-post-h3 {
    font-size: 36px;
    line-height:1.58;
    font-weight: 400;
    overflow: visible;
    margin-bottom: 21px;
}

.new-post-passage b, .new-post-passage div, .new-post-passage i, .new-post-passage p{
    display: inline-block;
    font-size: 21px;
    line-height:1.58;
    overflow: visible;

}

button.w3-button{
    font-weight: bold;
    color: lemonchiffon;
}