body{
  color: #404040;
 font: 100 1em/150% "proxima-nova", Helvetica, sans-serif;
}

.wrapper{
  max-width: 1200px;
  margin: auto;
}
.flex-container{
    display: flex;
}
.Demo{
    display: flex;
}

.u-textCenter {
        text-align: center;
       }





