body{
  color: #404040;
 font: 100 1em/150% "proxima-nova", Helvetica, sans-serif;
 text-decoration: none;
}

.wrapper{
  max-width: 90vw;
  margin: 0 auto;
}
/* ***************************Masoume */


.flex-container{
  display: flex;
}
.Demo{
  display: flex;
}

.Grid {
  display: flex;
  flex-flow: row; 
  flex-wrap: wrap;
}
.EndText{
    display: flex;
}


.Grid--cols-3 > .Grid-cell {
      flex: 0 0 100%; 
    }
    
.Grid--cols-3 > .Grid-cell{
        flex: 1;
    }

.u-textCenter {
      text-align: center;
     }

.medium-text p{
padding: 1vw;
font-weight: bold;
font-size: 2vw;
color: #ccc;
}
.medium-img img{
width: 1.5vw;
border-radius: 3vw;
padding: 1.5vw;
}
.mediumn-text-tow p{
padding: 1vw;
}








/* ***************************Masoume */

.wrapper p, .wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5{
  text-align: left;
}
.flex-container{
    display: flex;
}
.Demo{
    display: flex;
}

.u-textCenter {
        text-align: center;
       }


.homepage-main{
  display: grid;

 }

  .homepage-main{
    grid-template-columns: repeat(12, 1fr);
    gap: 1vh;
  }
  section.homepage-posts{
    grid-row-start: 1;
    grid-column: 1 / span 7;
   
  }
  aside.homepage-sidebar{
    grid-column: 9 / span 4;
    grid-row: 1;
  }

  /* anjaaaaaaaaaaaaaaam bedam */
  
  /*@media screen and (min-width:300px)  and (max-width: 600px){
    aside.homepage-sidebar{
      display:none;
    }
   
  .homepage-main{
   grid-template-columns: 1fr; 
  }
  section.homepage-posts{
    grid-row-start: 1;
    grid-column: 1fr;
   
  }
  
}
*/

.posts-container{
 
  display: block;
}
.post-section{
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px rgba(248, 165, 194,.4);
}
.post-writer{
  display: flex;
  flex-direction: row;
}

.post-writer-picture img{
  width: 25px;
  height: 25px;
  border: solid 1px white ;
  border-radius: 50%;

}
.post-writer-name{
  align-self: center;
  margin-left: 8px;
}
.post-information{
  display: block;
  width: 100%;
}
.post-title a {
  color:black;
  text-decoration: none;
 
}/* i should work on text-overflow and overflow to control the height */
.post-title a h2{
  font-size: 1.5em;
  line-height: 20px;
  padding-top: 6px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.post-description{
  padding-top: 6px;
}

.post-description h3{
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  font-weight: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.post-option{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 14px 0 0;
  color: rgba(117, 117, 117, 1);

}
.post-date-time{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;


}
.seperator{
  padding: 0 6px;
}
.post-picture{
  align-self: center;
}

.post-picture img{
  width: 200px;
  height: 140px;
}

.sidebar-items{
  display: block;
  box-shadow: 0 0 10px rgba(41, 41, 41, .2);
  border-radius: 10px;
}
.sidebar-title{
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 0;
  background-color: rgba(248, 165, 194,.2);
}
.sidebar-title p{
  text-transform: uppercase;
  text-align: center;
  font-size: inherit;
  font-weight: 500;
  line-height: 16px;
  color:inherit;
  text-overflow: clip;
}
.sidebar-cat{
  border-bottom: solid 1px #f1f2f6;
}

.sidebar-cat-list{
  list-style-type: none;
}
.sidebar-cat-list div{
  display: block;
  padding: 16px 0;
  border-right: solid 5px #5a5a5a28;

  transition: transform .5s ease-in-out, border ease-in-out .5s ;
}
.sidebar-cat-list div:hover{
  transform: translateX(-20px);
  border-right: solid 5px #5a5a5a;
}
.sidebar-users{
  width: 100%;
  padding: 16px 0 6px 0;
  border-bottom: solid 1px #f1f2f6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
}
.sidebar-user{
  flex-basis: 29.32%;
  border: solid 1px rgba(248, 165, 194,.4);
  padding: 1%;
  margin: 1%;  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
.sidebar-user  div{
  margin-bottom: 10px;
}
.sidebar-user-follow button{
  margin-bottom: 0;
}
.sidebar-user-picture img{
  width: 45px;
  height: 45px;
  border-radius: 50%;

}

.sidebar-user-name{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.sidebar-footer{
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  /*justify-content:flex-start;*/
}
.sidebar-footer a{
  flex-basis:3.5rem;
  font-weight:400;
  color: rgba(117, 117, 117, 1);
}


