
body {
  color: #404040;
  font: 100 1em/150% "proxima-nova", Helvetica, sans-serif;
}

.wrapper{
  max-width: 1200px;
  margin: auto;
}

.Grid {
    display: flex;
    flex-flow: row; 
    flex-wrap: wrap;
  }

.Grid--gutters {
    margin-left: -$gutter;
    .Grid-cell {
      padding-left: $gutter;
        }
    }

.Grid--cols-3 > .Grid-cell {
        flex: 0 0 100%; 
      }
.Grid--cols-3 > .Grid-cell{
          flex: 1;
      }

.u-textCenter {
        text-align: center;
       }





